<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEIS 코드 찾기</title>
</head>
<body>
    <form action="/" method="get">
        <input type="text" name="q" placeholder="학교 이름">
        <input type="submit" value="검색">
    </form>
    <footer>
        <a target="_blank" href="https://github.com/5d-jh/school-code-finder/issues">피드백</a>
    </footer>
</body>
</html>